ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.badge {
  color: #fd9245;
}

.basket {
  margin-right: 20px;
  position: relative;
}
.basket:before {
  position: absolute;
  content: attr(data-count);
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0;
}
.basket.on:before {
  opacity: 1;
}

.right-icons a,
.let-icons a {
  transition: background-color 0.5s;
}

.right-icons a:hover {
  background-color: #fd9245;
  border: 1px solid #fd9245;
  padding: 3px;
  border-radius: 20px;
  color: white;
}

.Hajri-logo {
  margin-left: 15px;
  width: 200px;
  height: 100%;
}

.header {
  display: grid;
  grid-template: 1fr auto/ 1fr 1fr 1fr;
  margin-bottom: 20px;
  width: 100%;
  top: 0;
  background-color: #f8f9fd;
}

.right-icons a:hover,
.left-icons a:hover {
  padding: 8px;
}

.search {
  grid-column-start: 2;
  grid-column-end: 3;
}
.right-icons ul {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 150px;
  font-size: 20px;
}
.left-icons ul {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  gap: 150px;
}

.search {
  display: flex;
}
.searchBar {
  flex: 90%;
  height: 30px;
  border-radius: 20px;
  border-right: hidden;
  margin-right: -30px;
  border: 1px solid black;
}
.searchButton {
  border-radius: 20px;
  border: 1px solid black;
  font-size: 10px;
  background-color: #fd9245;
  color: white;
}

.container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat',sans-serif";
  letter-spacing: 0.3px;
  color: #333;
  background: #fff;
}
a,
a:hover,
a:active,
a:focus {
  display: inline-block;
  text-decoration: none;
  color: #616060;
  /*font-size: 25px;*/
  padding: 0;
  font-weight: 500;
}
.perfume-price {
  font-size: 23px;
}
p {
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: 100%;
}
.single-perfume {
  margin: 30px 50px;
  text-align: center;
  height: 100%;
}

.single-perfume-bg {
  position: relative;
  min-height: 350px;
  background: #f8f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.single-perfume-bg img {
  width: auto;
  height: auto;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.single-perfume-bg:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.Hajri {
  background: #fd9245;
  position: absolute;
  top: 10px;
  right: 0;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.Hajri p {
  color: #fff;
  /*font-weight: 500;*/
  font-size: 14px;
  line-height: 2.2;
}

.perfume-cart {
  position: absolute;
  bottom: -14px;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #fd9245;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  opacity: 0;
  visibility: hidden;
}
.perfume-cart p {
  color: #fff;
}
.perfume-cart p a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.single-perfume-bg:hover .perfume-cart {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
}

.single-perfume h4 a {
  margin: 26px 0 12px;
  font-size: 25px;
}

.single-perfume:hover h4 a {
  color: #fd9245;
}

.footer {
  background: #f8f9fd;
  text-align: center;
  height: 154px;
}

.cart-btn {
  position: relative;
}
.cart-container {
  position: absolute;
  overflow-y: scroll;
  background: #fff;
  width: 35%;
  height: 600px;
  top: 150px;
  right: 0;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.21);
  display: none;
}
.cart-container::-webkit-scrollbar {
  width: 8px;
}
.cart-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* js related class */
.show-cart-container {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.Cart-Header th {
  color: #fff;
  background-color: #ff523b;
  font-weight: normal;
}

td {
  padding: 5px 25px;
}

td input {
  width: 30px;
  height: 15px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 15px;
  text-decoration: none;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
}
.total-price table {
  margin-top: 30px;
  border-top: 1px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .right-icons {
    margin-left: 40px;
  }
  .right-icons ul {
    padding-top: 15px;
    gap: 50px;
    font-size: 15px;
  }
}
.detail-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.single-prodcut .col-2 img {
  padding: 0px;
}

.single-prodcut .col-2 {
  padding: 20px;
}
.single-prodcut h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-prodcut select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-prodcut input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20x;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.hide {
  text-decoration: none;
  color: #555;
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  border: none;
}

.product-quantity {
  border: 1px solid #ff523b;
  height: 28px;
  width: 35px;
}

.show-cart-container {
  display: block;
  /*background: red;*/
}
